{{#if resume.education.length}}
    <section id="education">
        <div class="mdc-layout-grid title">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <span class="mdc-typography--headline5">Education</span>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                {{#each resume.education}}
                    <div class="mdc-layout-grid__cell {{#if printHidden}}just-screen{{/if}}">
                        <div class="mdc-card education-card mdc-card--outlined">
                            {{#if website}}<a href="{{website}}">{{/if}}
                            <div class="mdc-card__header mdc-card__header--padded {{#if website}}mdc-card__primary-action{{/if}}">
                                {{#if image}}
                                    <div class="mdc-card__media mdc-card__media--circle {{#unless shortName}}just-screen{{/unless}}">
                                        <img src="{{preloadImage image}}" alt="{{#if company}}{{company}}{{/if}} logo"/>
                                    </div>
                                {{/if}}
                                <div class="mdc-card__header-texts">
                                    {{#if institution}}<span class="mdc-typography--headline6 {{#if shortName}}just-screen{{/if}}">{{institution}}</span>{{/if}}
                                    {{#if shortName}}<span class="mdc-typography--headline6 {{#if institution}}just-print{{/if}}">{{shortName}}</span>{{/if}}
                                    {{#if studyType}}<span class="mdc-typography--subtitle1">{{studyType}}</span>{{/if}}
                                    {{#if area}}<span class="mdc-typography--subtitle2">{{area}}</span>{{/if}}
                                </div>
                            </div>
                            {{#if website}}</a>{{/if}}
                            <ul class="mdc-card__list mdc-card__content--padded mdc-typography--subtitle1">
                                {{#if startDate}}
                                    <li class="mdc-card__feature">
                                        <i class="mdc-card__feature--icon">date_range</i>
                                        <span class="mdc-card__feature--text">
                                            {{#if startDate}}{{startDate}}{{/if}}{{#if endDate}}
                                            - {{endDate}}{{else}} - Present{{/if}}
                                        </span>
                                    </li>
                                {{/if}}
                                {{#if gpa}}
                                    <li class="mdc-card__feature">
                                        <i class="mdc-card__feature--icon">grade</i>
                                        <span class="mdc-card__feature--text">{{gpa}}</span>
                                    </li>
                                {{/if}}
                            </ul>
                            {{#if courses.length}}
                                <div class="details just-screen">
                                    <noscript>
                                        <hr class="mdc-divider">
                                        <p class="mdc-typography--headline6 mdc-card__content--padded">Courses</p>
                                        <ul class="mdc-list mdc-typography--body2">
                                            {{#each courses}}
                                                <li class="mdc-list-item">{{.}}</li>
                                            {{/each}}
                                        </ul>
                                    </noscript>
                                    <div class="mdc-expansion-panel js-only" aria-expanded="false">
                                        <div class="mdc-expansion-panel__summary mdc-typography--subtitle1">Courses
                                        </div>
                                        <div class="mdc-expansion-panel__details">
                                            <ul class="mdc-list mdc-typography--body2">
                                                {{#each courses}}
                                                    <li class="mdc-list-item">{{.}}</li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
{{/if}}
