{{#if resume.languages.length}}
    <section id="languages">
        <div class="mdc-layout-grid title">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <span class="mdc-typography--headline5">Languages</span>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                {{#each resume.languages}}
                    <div class="mdc-layout-grid__cell">
                        <div class="mdc-card mdc-card--outlined">
                            <div class="mdc-card__header mdc-card__header--padded">
                                {{#if flag}}
                                    <div class="mdc-card__media mdc-card__media--circle--small">
                                        <img src="{{flag}}" alt="flag">
                                    </div>
                                {{/if}}
                                <div class="mdc-card__header-texts">
                                    {{#if language}}<span class="mdc-typography--headline6">{{language}}</span>{{/if}}
                                    <span>
                                    {{#if fluency}}
                                        <span class="level-stars">{{levelToStars fluency}}</span>
                                        <span class="mdc-typography--subtitle1">{{levelDefault fluency}}</span>
                                    {{/if}}
                                        {{#if comment}}
                                            <span class="mdc-typography--subtitle1"> ({{comment}})</span>
                                        {{/if}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
{{/if}}
