{{#if resume.volunteer.length}}
<section id="volunteer"
	{{#if resume.meta.print.hiddenSections}}class="{{#inArray resume.meta.print.hiddenSections "volunteer"}}just-screen{{/inArray}}"
	{{/if}}>
	<div class="mdc-layout-grid title">
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
				<span class="mdc-typography--headline5">Volunteer</span>
			</div>
		</div>
	</div>
	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			{{#each resume.volunteer}}
			<div
				class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
				<div class="work-card mdc-card mdc-card--outlined">
					{{#if url}}<a href="{{url}}" target="_blank">{{/if}}
						<div class="{{#if url}}mdc-card__primary-action{{/if}} mdc-card__header mdc-card__header--padded"
							{{#if url}}tabindex="0" {{/if}}>
							{{#if image}}
							<div class="mdc-card__media mdc-card__media--circle">
								<img src="{{preloadImage image}}"
									alt="{{#if organization}}{{organization}}{{/if}} logo" />
							</div>
							{{/if}}
							<div class="mdc-card__header-texts">
								{{#if organization}}<span
									class="mdc-typography--headline6">{{organization}}</span>{{/if}}
								<span class="mdc-typography mdc-typography--subtitle2">
									{{#if position}}{{position}}{{/if}}
								</span>
							</div>
						</div>
						{{#if url}}</a>{{/if}}
					<div class="mdc-card__content mdc-typography--body1">
						{{#if startDate}}
						<p class="mdc-card__feature mdc-card__content--padded">
							<i class="mdc-card__feature--icon">date_range</i>
							<span class="mdc-card__feature--text">
								{{#if startDate}}{{startDate}}{{/if}}{{#if endDate}}
								- {{endDate}}{{else}}{{#if startDate}} - Present{{/if}}{{/if}}
							</span>
						</p>
						{{/if}}
						{{#if summary}}
						<p class="summary mdc-card__content--padded">
							{{summary}}
						</p>
						{{/if}}
						{{#if highlights.length}}
						<div class="details just-screen">
							<noscript>
								<hr class="mdc-divider">
								<p class="mdc-typography--headline6 mdc-card__content--padded">
									Highlights</p>
								<ul class="mdc-list mdc-typography--body2">
									{{#each highlights}}
									<li class="mdc-list-item">{{.}}</li>
									{{/each}}
								</ul>
							</noscript>
							<div class="mdc-expansion-panel js-only" aria-expanded="false">
								<div class="mdc-expansion-panel__summary mdc-typography--subtitle1">
									Highlights
								</div>
								<div class="mdc-expansion-panel__details">
									<ul class="mdc-list mdc-typography--body2">
										{{#each highlights}}
										<li class="mdc-list-item">{{.}}</li>
										{{/each}}
									</ul>
								</div>
							</div>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>
{{/if}}