{{#if resume.work.length}}
    <section id="work">
        <div class="mdc-layout-grid title">
            <div class="mdc-layout-grid__inner">
                <h5>Work</h5>
            </div>
        </div>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                {{#each resume.work}}
                    <div class="mdc-layout-grid__cell">
                        <div class="work-card mdc-card mdc-card--outlined">
                            {{#if website}}<a href="{{website}}" target="_blank">{{/if}}
                            <div class="{{#if
                                    website}}mdc-card__primary-action{{/if}} mdc-card__header mdc-card__header--padded"
                                 {{#if website}}tabindex="0"{{/if}}>
                                {{#if image}}
                                    <div class="mdc-card__media mdc-card__media--circle">
                                        <img src="{{preloadImage image}}" alt="{{#if company}}{{company}}{{/if}} logo"/>
                                    </div>
                                {{/if}}
                                <div class="mdc-card__header-texts">
                                    {{#if company}}<h6>{{company}}</h6>{{/if}}
                                    <span class="mdc-typography mdc-typography--subtitle2">
                                        {{#if position}}{{position}}{{/if}}
                                    </span>
                                </div>
                            </div>
                            {{#if website}}</a>{{/if}}
                            <div class="mdc-card__content mdc-typography--body1">
                                {{#if startDate}}
                                    <p class="date-range mdc-card__content--padded">
                                        <i>date_range</i>
                                        {{#if startDate}}{{startDate}}{{/if}}
                                        {{#if endDate}}- {{endDate}}{{else}} - Present{{/if}}
                                    </p>
                                {{/if}}
                                {{#if summary}}
                                    <p class="summary mdc-card__content--padded">
                                        {{summary}}
                                    </p>
                                {{/if}}
                                {{#if highlights.length}}
                                    <noscript>
                                        <div class="details">
                                            <hr class="mdc-divider">
                                            <p class="mdc-typography--headline6 mdc-card__content--padded">Details</p>
                                            <ul class="mdc-list mdc-typography--body2">
                                                {{#each highlights}}
                                                    <li class="mdc-list-item">{{.}}</li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </noscript>
                                    <div class="details just-screen">
                                        <div class="mdc-expansion-panel js-only" aria-expanded="false">
                                            <div class="mdc-expansion-panel__summary">Details</div>
                                            <div class="mdc-expansion-panel__details">
                                                <ul class="mdc-list mdc-typography--body2">
                                                    {{#each highlights}}
                                                        <li class="mdc-list-item">{{.}}</li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
{{/if}}
